CarrotFantsdy/Library/
CarrotFantsdy/Temp/
CarrotFantsdy/.vs/CarrotFantsdy/v15/Server/sqlite3/storage.ide-wal
CarrotFantsdy/.vs/CarrotFantsdy/v15/Server/sqlite3/storage.ide-shm
CarrotFantsdy/.vs/CarrotFantsdy/v15/Server/sqlite3/storage.ide
CarrotFantsdy/.vs/CarrotFantsdy/v15/Server/sqlite3/db.lock
CarrotFantsdy/.vs/CarrotFantsdy/v15/.suo
